<footer>
   <h5>&copy; Pauliaus Parts Shop</h5>
   <div class="adresas">
      <div class="contact">
   Adress: Vilnius City, Lithuania <hr />
   Phone-Number: 860303030
</div>

</footer>
 

</body>
</html>
