<%- include('partials/header'); -%>

<header>
  <div class="pistons">
    <img src="/Piston2.png" alt="">
  </div>
  <div class="headings">
    <h2>View Parts Catalog</h2>
    <h3>Current parts inventory</h3>
    <a href="/partsList" class="btn">View current Parts</a>
  </div>
  <div class="pistons">
    <img src="/Piston3.png" alt="">
  </div>
</header>


<%- include('partials/footer'); -%>