<%- include('partials/header'); -%>

<ul class="parts">
  <li class="part">
    <img src="/bmwengine.png" alt="BMW F30 ENGINE">
    <h3>BMW Engine</h3>
    <h5>Part code: S50B30US</h5>
    <p>Available in: 320i Sedan, 320i xDrive Sedan</p>
    <br>
    <button >Contact for more info:</button>
  </li>
  <li class="part">
    <img src="/2015-GM-V8LT4-005.png" alt="Chevy zl1">
    <h4>6.2-liter Camaro V8</h4>
    <h5>Part code: U0101</h5>
    <p>Chevrolet Camaro ZL1</p>
    <br>   <br>
    <button >Contact for more info:</button>
  </li>
  <li class="part">
    <img src="/bmw-3-touring-e30-316-i-7542-1.png" alt="Bmw e30 crab">
    <h4>BMW E30</h4>
    <h5>Part code: K24B16LT</h5>
    <p>Bmw e30 1.6</p>
    <br>   <br>
    <button >Contact for more info:</button>
  </li>
  <li class="part">
    <img src="/E30-group-a-front-bumper-in-white.png" alt="smoothie recipe icon">
    <h4>BMW E30</h5>
    <h5>Part code: E30M31992</h5>
    <p>BMW E30 M3</p>
    <button >Contact for more info:</button>
  </li>
  <li class="part">
    <img src="/1843599_x800.png" alt="smoothie recipe icon">
    <h4>BMW E46 </h4>
    <h5>Part code: E46M32004</h5>
    <p>BMW E46 M3</p>
    <button >Contact for more info:</button>
  </li>
  <li class="part">
    <img src="/photo-output-17-1665564925.png" alt="smoothie recipe icon">
    <h4>Chevrolet Camaro ZL1</h4>
    <h5>Part code: ZL1201390</h5>
    <p>Chevrolet Camaro ZL1 HELLCAT</p>
    <button >Contact for more info:</button>
  </li>
</ul>


<%- include('partials/footer'); -%>